<%- contentFor('content') %>

<% if (msg_success != '') { %>
<div class="msg_success">
    <h2><%- msg_success %></h2>
</div>
<% } %>

<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="/admins">Back to Admin Page</a>
        <a class="btn btn-danger text-right" href="/admins/logout">Log out</a>
    </div>
    <h1 class="text-center">Blossom category management</h1>
    <div>
        <form class="d-flex" method="POST" action="/admins/manage/categories/add">
            <label for="nameforAdd">Add new category: </label>
            <input type="text" name="name" id="nameforAdd">
            <input class="btn btn-primary" type="submit" value="Add new category">
        </form>
    </div>
    <br>
    <div class="d-flex flex-column border p-3">
        <h1>List Category: <%- categories.length %> is found</h1>
        <% categories.forEach((category)=>{ %>
        <form class="d-flex" action="/admins/manage/categories/editanddelete/<%- category.id %>" method="POST">
            <input type="text" name="name" value="<%- category.name %>">
            <input name="editBtn" class="btn btn-primary" type="submit" value="Edit">
            <input name="deleteBtn" class="btn btn-danger" type="submit" value="Delete">
        </form>
        <% }) %>
    </div>
</div>