<%- contentFor('content') %>
<%- include('../inc/navbar') %>

<div class="msg_success"></div>

<div class="m-5">
    <div class="container">
        <% if(carts.length == 0){ %>
        <div class="text-center">
            <h3>Your cart is empty!</h3>
            <a href=" /flowers" class="btn btn-primary mt-2">Back to flowers page!</a>
        </div>
        <% }else{ %>
        <div class="emptyCartZone text-center" class="text-center" style="display: none;">
            <h3>Your cart is empty!</h3>
            <a href="/flowers" class="btn btn-primary mt-2">Back to flowers page!</a>
        </div>
        <div class="cartZone">
            <h1 class="text-left mb-5">Cart</h1>
            <div class="text-right"><button class="saveCartBtn btn btn-dark mb-2" disabled>Save your cart</button></div>
            <% carts.forEach(cart=>{ %>
            <div id="<%- cart.flowerId %>">
                <div class="d-flex flex-row align-items-center justify-content-around cartContainer p-2 mb-3">
                    <div style="width: 40%;">
                        <img class="flowerImage" src="/images/flowers/<%- cart.flowerImage %>" alt="">
                        <span class="cartContainer__name ml-5"><%- cart.flowerName %></span>
                    </div>
                    <input type="number" min="1" value="<%- cart.quantity %>" data-price="<%- cart.flowerPrice %>"
                        data-id="<%- cart.flowerId %>">
                    <span class="cartContainer__name"><%- cart.flowerPrice %> $</span>
                    <div>
                        <button class="deleteCartBtn btn btn-danger" data-id="<%- cart.flowerId %>">Delete</button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <h1 class="cartToTalPriceZone text-right">Total Price: <span class="cartToTalPrice"><%- totalPrice %></span> $
        </h1>
        <div class="text-right"><input class="btn btn-success" type="submit" form="cartForm" value="Order now!"></div>
        <form id="cartForm" action="/carts" method="post" onsubmit="return appendCart()">
            <input type="hidden" name="cart" value="">
        </form>
        <% } %>
    </div>
</div>

<% if(user){ %>
<script src="/js/updateCart.js"></script>
<% } %>